# Build & Gradle
/build/
/out/
/.gradle/
.gradle-cache/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Minecraft run dir (if present)
run/
